article {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	color: white;
}

main {
	margin: 0 calc(2rem + 4vmin);
}

h1 {
	font-size: calc(3rem + 2vmin);
}

h2 {
	font-size: calc(1.5rem + 2vmin);
	margin: 6rem 0 3.8rem;
}

p,
a {
	font-size: calc(1.2rem + 1.2vmin);
}

img {
	display: flex;
	margin: 5rem auto;
}

a,
p,
ul,
li {
	margin: 0 0 2rem;
}

p {
	text-indent: 5rem;
}

img.dev {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

a.link {
	color: #61dafb;
}

span.marker {
	color: #6747c7;
	font-weight: bold;
}

@media screen and (min-width: 790px) {
	main {
		margin: 0 calc(5rem + 20vmax);
	}
}
